.container {
  max-width: 190px;
}

.separator {
  width: 100%;
  background-color: #ec1d24;
  height: 7px;
  margin-top: -5px;
}

.name {
  font-weight: 400px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: white;
  width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.containerName {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  padding: 0px var(--size-m);
  background-color: black;
  clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 15px), calc(100% - 15px) 100%, 0% 100%);
}

.icon {
  width: var(--size-m);
  height: var(--size-m);
}
